<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="footer">
    <footer class="text-center">
        <div class="container">
        	<div class="pull-left">© 2025 Spring Film</div>
        	<div class="pull-right">
        		<img src="tmdb.png" th:src="@{/resources/static/tmdb.png}" class="img-responsive" alt="Logo TheMovieDB">
        	</div>
        </div>
    </footer>

    <script type="text/javascript" src="webjars/jquery/1.9.1/jquery.min.js" th:src="@{/webjars/jquery/1.9.1/jquery.min.js/}"></script>
    <script type="text/javascript" src="webjars/bootstrap/3.3.6/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>

</th:block>
</body>
</html>