<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}"
      layout:decorator="fragments/layout">
<head>
    <title>Stored Movies</title>
</head>
<body>
	<div layout:fragment="content" th:remove="tag" sec:authorize="isAuthenticated()" class="container">
		<h3>Stored Movies List</h3>
		<hr>
		<ul th:each="film: ${films}" style="list-style-type:none">
			  <li><a th:href="@{/pelicula(id=${film.code})}"th:text="${film.name}"></a></li>
		</ul>
		<div class="text-center">
			<a th:href="@{/}" role="button" class="btn btn-primary">Back</a>
		</div>
	</div>
</body>
</html>