<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}"
      layout:decorator="fragments/layout">
<head>
    <title>Indice - Busqueda</title>
</head>
<body>
	<div layout:fragment="content" th:remove="tag" sec:authorize="isAuthenticated()" class="container">
		<div class="jumbotron text-center">
			<h2>Bienvenido a Spring Film</h2>
			<h3>La web que te pone al dia de los nuevos estrenos</h3>
			<h3>y tambien de los clasicos</h3>
		</div>
		
		<div class="text-center">
			<form action="/spring-mvc-java/search" th:action="@{/search}" th:object="${searchFilm}" method="get">
				<input type="text" name="search" th:field="*{name}" placeholder="Search film ...">
			</form>
		</div>
	</div>
</body>
</html>