<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}"
      layout:decorator="fragments/layout">
<head>
    <title>Indice - Busqueda</title>
</head>
<body>
	<div layout:fragment="content" th:remove="tag" sec:authorize="isAuthenticated()" class="container">
		<div class="jumbotron text-center">
			<h2>Bienvenido a Spring Film</h2>
			<h3>La web que te pone al dia de los nuevos estrenos</h3>
			<h3>y tambien de los clasicos</h3>
		</div>
		
		<div class="text-center">
			<h2>Buscar Pelicula</h2>
			<form th:object="${searchFilm}" th:action="@{/searchFilm}" method="get">
		        <input type="text" name="search" id="search" placeholder="Search film ..." th:value="${search}"/><br>
		        <button type="submit" class="btn btn-success">Buscar</button>
		        <div th:if="${not #lists.isEmpty(peliculas)}">
		            <h3>Lista de Peliculas</h3>
		            <table class="table table-striped">
		                <tr>
		                    <th>Id</th>
		                    <th>Name</th>
		                    <th>Surname</th>
		                </tr>
		                <tr th:each="peli: ${peliculas}">
		                    <td th:text="${peli.name}"><a th:href="@{/pelicula/{id}/(id=${peli.code})}"th:text="${peli.name}"></a></td>
		                </tr>
		            </table>
		        </div>
			</form>
		</div>
	</div>
</body>
</html>