<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}"
      layout:decorator="fragments/layout">
<head>
    <title>Users</title>
</head>
<body>
	<div layout:fragment="content" th:remove="tag" class="container">
		<div sec:authorize="hasRole('VIEWER')">
			<p>No tiene permisos para visualizar esta pagina</p>
			<a th:href="@{/}" role="button" class="btn btn-primary">Back Home</a>
		</div>
		<div sec:authorize="hasRole('ADMIN')">
			<h3>Users List</h3>
			<hr>
			<div class="text-center" th:each="user : ${users}">
				<div class="row">
					<a th:href="@{/user(id=${user.name})}" th:text="${user.name}"></a>
					<a th:href="@{/modifyUserForm(id=${user.name})}" id="edit" role="button" class="btn btn-warning">Edit</a>
					<a th:href="@{/removeUser/{id}/(id=${user.name})}" id="remove" role="button" class="btn btn-danger">Remove</a>
				</div>
			</div>
			<hr>
			<a th:href="@{/addUserForm}" id="add" role="button" class="btn btn-success">New User</a>
			
			<div class="row text-center">
				<a th:href="@{/}" role="button" class="btn btn-primary">Back</a>
			</div>
		</div>
	</div>
</body>
</html>