<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}"
      layout:decorator="fragments/layout">
<head>
    <title>Peliculas</title>
</head>
<body>
	<div layout:fragment="content" th:remove="tag" sec:authorize="hasRole('ADMIN')" class="container">
		<h3>Lista de Peliculas</h3>
		<hr>
		<div th:each="film : ${films}">
			<span>
				<a th:href="@{/pelicula/{id}/(id=${film.code})}"th:text="${film.name}"></a>
				<a th:href="@{/modifyFilmForm/{id}/(id=${film.code})}" role="button" class="btn btn-warning">Editar</a>
				<a th:href="@{/removeFilm/{id}/(id=${film.code})}" role="button" class="btn btn-danger">Eliminar</a>
			</span>
			<br>
		</div>
		<a th:href="@{/addFilmForm}" role="button" class="btn btn-success">Nueva Pelicula</a>
		
		<div class="text-center">
			<a th:href="@{/}" role="button" class="btn btn-primary">Volver atras</a>
		</div>
	</div>
</body>
</html>