<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}"
      layout:decorator="fragments/layout">
<head>
    <title>Films</title>
</head>
<body>
	<div layout:fragment="content" th:remove="tag" class="container">
		<div sec:authorize="hasRole('VIEWER')">
			<p>No tiene permisos para visualizar esta pagina</p>
			<a th:href="@{/}" role="button" class="btn btn-primary">Back Home</a>
		</div>
		<div sec:authorize="hasRole('ADMIN')">
			<h3>Films List</h3>
			<hr>
			<div class="text-center" th:each="film : ${films}">
				<div class="row">
					<a th:href="@{/pelicula(id=${film.code})}"th:text="${film.name}"></a>
					<a th:href="@{/modifyFilmForm(id=${film.code})}" role="button" class="btn btn-warning">Edit</a>
					<a th:href="@{/removeFilm/{id}/(id=${film.code})}" role="button" class="btn btn-danger">Remove</a>
				</div>
				<br>
			</div>
			<hr>
			<a th:href="@{/addFilmForm}" role="button" class="btn btn-success">New Film</a>
			
			<div class="row text-center">
				<a th:href="@{/}" role="button" class="btn btn-primary">Back</a>
			</div>
		</div>
	</div>
</body>
</html>