<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}"
      layout:decorator="fragments/layout">
<head>
    <title>User Edit Form</title>
</head>
<body>
	<div layout:fragment="content" th:remove="tag" class="container">
		<div sec:authorize="hasRole('VIEWER')">
			<p>No tiene permisos para visualizar esta pagina</p>
			<a th:href="@{/}" role="button" class="btn btn-primary">Back Home</a>
		</div>
		<div sec:authorize="hasRole('ADMIN')">
			<h3>User Edit</h3>
			<hr>
			<form class="form-horizontal" action="/spring-mvc-java/modifyUser" th:action="@{/modifyUser}"
				th:object="${user}" method="post" modelAttribute="user">
				
				<div class="form-group">
					<label class="control-label col-sm-2" for="name">Name:</label>
				    <div class="col-sm-10">
				    	<input type="text" th:field="*{name}" class="form-control" id="name" th:value="${user.name}" readonly/>
				    </div>
				</div>
				
				<div class="form-group">
					<label class="control-label col-sm-2" for="pass">Password:</label>
				    <div class="col-sm-10">
				    	<input type="text" th:field="*{password}" class="form-control" id="pass" required/>
				    </div>
				</div>
				
				<div class="form-group">
					<label class="control-label col-sm-2" for="rol">Rol:</label>
				    <div class="col-sm-10">
				    	<input type="text" th:field="*{rol}" class="form-control" id="rol" th:value="${user.rol}"/>
				    </div>
				</div>
				
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
				    	<button name = "send" type="submit" class="btn btn-success">Send</button>
				    	<button type="reset" class="btn btn-warning">Clear All</button>
				    </div>
				</div>


			</form>
			<a th:href="@{/listUsers}" role="button" class="btn btn-primary">Back</a>
		</div>
	</div>
</body>
</html>