<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}"
      layout:decorator="fragments/layout">
<head>
    <title>Film Edit Form</title>
</head>
<body>
	<div layout:fragment="content" th:remove="tag" class="container">
		<div sec:authorize="hasRole('VIEWER')">
			<p>No tiene permisos para visualizar esta pagina</p>
			<a th:href="@{/}" role="button" class="btn btn-primary">Back Home</a>
		</div>
		<div sec:authorize="hasRole('ADMIN')">
			<h3>Film Edit</h3>
			<hr>
			<form class="form-horizontal" action="/spring-mvc-java/modifyFilm" th:action="@{/modifyFilm}"
				th:object="${pelicula}" method="post" modelAttribute="pelicula">

				<div class="form-group">
					<label class="control-label col-sm-2" for="code">Code:</label>
				    <div class="col-sm-10">
				    	<input type="text" th:field="*{code}" class="form-control" id="code" th:value="${pelicula.code}" readonly />
				    </div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2" for="name">Name:</label>
				    <div class="col-sm-10">
				    	<input type="text" th:field="*{name}" class="form-control" id="name" th:value="${pelicula.name}"/>
				    </div>
				</div>
				

				
				<div class="form-group">
					<label class="control-label col-sm-2" for="info">Description:</label>
				    <div class="col-sm-10">
				    	<textarea rows="5" th:field="*{info}" class="form-control" id="info" th:value="${pelicula.info}"></textarea>
				    </div>
				</div>
				
				<div class="form-group">
					<label class="control-label col-sm-2" for="year">Year:</label>
				    <div class="col-sm-10">
				    	<input type="number" th:field="*{year}" class="form-control" id="year" th:value="${pelicula.year}" min="1500"/>
				    </div>
				</div>
				

				
				<div class="form-group">
					<label class="control-label col-sm-2" for="genre">Genre:</label>
				    <div class="col-sm-10">
				    	<input type="text" th:field="*{genre}" class="form-control" id="genre" th:value="${pelicula.genre}"/>
				    </div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2" for="director">Director:</label>
					<div class="col-sm-10">
						<input type="text" th:field="*{director}" class="form-control" id="director" th:value="${pelicula.director}"/>
					</div>
				</div>
				
				<div class="form-group">
					<label class="control-label col-sm-2" for="reparto">Cast:</label>
				    <div class="col-sm-10">
				    	<textarea rows="5" th:field="*{reparto}" class="form-control" id="reparto" th:value="${pelicula.reparto}"></textarea>
				    </div>
				</div>
				

				<div class="form-group">
					<label class="control-label col-sm-2" for="rate">Score:</label>
				    <div class="col-sm-10">
				    	<input type="number" th:field="*{rate}" class="form-control" id="rate" th:value="${pelicula.portada}" min="0" max="5"/>
				    </div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2" for="portada">Poster:</label>
					<div class="col-sm-10">
						<input type="text" th:field="*{portada}" class="form-control" id="portada" th:value="${pelicula.portada}"/>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2" for="trailer">Trailer:</label>
					<div class="col-sm-10">
						<input type="text" th:field="*{trailer}" class="form-control" id="trailer" th:value="${pelicula.trailer}"/>
					</div>
				</div>


				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
				    	<button type="submit" id="send" class="btn btn-success">Send</button>
				    	<button type="reset" class="btn btn-warning">Clear All</button>
				    </div>
				</div>
			</form>
			<a th:href="@{/listFilms}" role="button" class="btn btn-primary">Back</a>
		</div>
	</div>
</body>
</html>