<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}"
      layout:decorator="fragments/layout">
<head>
    <title>Film Details</title>
</head>
<body>
	<div layout:fragment="content" th:remove="tag" sec:authorize="isAuthenticated()" class="container">
		<h3>Film Details</h3>
		<hr>
		<div class="row">
    		<div class="col-sm-4 col-sm-push-8">
    			<h2 th:text="'Title: ' + ${pelicula.name}"></h2>
    			<h3 th:text="'Year: ' + ${pelicula.year}"></h3>
    			<p>Rate <span class="badge" th:text="${pelicula.rate}"></span></p>
    		</div>
    		<div class="col-sm-8 col-sm-pull-4">
    			 <img th:src="${pelicula.portada}" class="img-thumbnail img-responsive" alt="Portada pelicula">
    		</div>
    	</div>
    	
    	<div class="row">
    		<p th:text="'Info: ' + ${pelicula.info}"></p>
    		<p th:text="'Director: ' + ${pelicula.director}"></p>
			<p th:text="'Cast: ' + ${pelicula.reparto}"></p>
    	</div>
    	
    	<div class="embed-responsive embed-responsive-16by9">
			<iframe class="embed-responsive-item" th:src="${pelicula.trailer}" allowfullscreen></iframe>
		</div>
		<a th:href="@{/listFilms}" role="button" class="btn btn-primary">Back</a>
	</div>
</body>
</html>